<div class="container">
	<div class="col-xs-6 col-md-3 text-center choice-border">
		<div id="breakfast" class="choices"></div>
		<br>
		<button class="btn btn-info breakfast-btn choice-btn">New choice?</button>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<div id="lunch" class="choices"></div>
		<br>
		<button class="btn btn-info lunch-btn choice-btn">New choice?</button>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<div id="dinner" class="choices"></div>
		<br>
		<button class="btn btn-info dinner-btn choice-btn">New choice?</button>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<div id="dessert" class="choices"></div>
		<br>
		<button class="btn btn-info dessert-btn choice-btn">New choice?</button>
	</div>
</div>
