<div class="row">
	<div class="container-fluid text-center img-responsive">
		<div class="row">
			<div class="col-xs-12 col-md-3 choices">
				<div id="breakfast"></div>
				<button class="btn btn-info breakfast-btn">Want a new choice?</button>
			</div>
			<div class="col-xs-12 col-md-3 choices">
				<div id="lunch"></div>
				<button class="btn btn-info lunch-btn">Want a new choice?</button>
			</div>
			<div class="col-xs-12 col-md-3 choices">
				<div id="dinner"></div>
				<button class="btn btn-info dinner-btn">Want a new choice?</button>
			</div>
			<div class="col-xs-12 col-md-3 choices">
				<div id="dessert"></div>
				<button class="btn btn-info dessert-btn">Want a new choice?</button>
			</div>
		</div>
	</div>
</div>