body{
	font-family: 'Cabin', sans-serif;
}
.navbar-brand{
	color: #F49E4C !important;
}
.choices{
	background-color: #93E1D8;
}

.choice-border{
	border: solid 2px black;
	border-radius: 3px;
	margin-bottom: 5px;
}
.placeholder{
	width: 200px;
	max-height: 100%;
}


