body{
	font-family: 'Cabin', sans-serif;
}
.navbar-brand{
	color: #F49E4C !important;
}
.breakfast{
	background-color: #93E1D8;
}
.lunch{
	background-color: #F4D06F;
}
.dinner{
	background-color: #9CA3DB;
}
.dessert{
	background-color: #E574BC;
}

.choice-border{
	border: solid 2px black;
	border-radius: 3px;
	margin-bottom: 5px;
}
.choices{
	margin: 0 auto;
}
